body { background-color: white;
      color: black;
      font-size: small;
      font-family: Arial,Helvetica,san-serif;}

 .gmap {margin: 5px;
      border: thin solid black;
      float: right;
      }

 .infowindow{
    border:  thin solid black;
 }     
 
  .infowindow h1{
    border:  thin solid gray;
    background-color: #eeeeee;
 } 
